<%= form_with model: [ @article, @article.comments.build ] do |form| %>
 <div class="mb-3">
  <p>
    <%= form.label :commenter, "Comentador", class: "form-label fw-bold" %><br>
    <%= form.text_field :commenter, class: "form-control", placeholder: "Tu nombre"%>
  </p>
</div>


<div class="mb-3">
  <p>
    <%= form.label :body, class: "form-label fw-bold" %><br>
    <%= form.text_area :body, class: "form-control", rows: 4, placeholder: "Tu comentario..."%>
  </p>
   </div>

    <div class="text-end">
  <p>
    <%= form.submit "Guardar comentario", class: "btn btn-success" %>
  </p>
  </div>

  <p>
  <%= form.label :status, "Estado", class: "form-label fw-bold" %>
  <%= form.select :status, ['público', 'privado', 'archivado'], { selected: 'público' }, { class: "form-select" } %>
  
</p>

<% end %>
